nav {
  height: 57px;
  background-color: #777777;
  display: flex;
  align-items: center;

  ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0px;

    li {
      list-style-type: none;
      cursor: pointer;
      position: relative;

      a {
        color: #d8d8d8;
        text-decoration: none;

        &:hover {
          border-bottom: 1px solid #ffffff;
        }
      }

      &:not(:last-of-type) {
        &:after {
          color: #d8d8d8;
          content: '|';
          width: 1px;
          height: 3px;
          margin-left: 10px;
        }
      }
    }
  }
}