header {
  background-color: #dcdcdc;
  height: 200px;
  display: flex;
  align-items: center;
}

.wrapper {

  &Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &Left {
    display: flex;
    width: 318px;
    height: 100%;
    gap: 20px;

    p {
      font-weight: bold;
      font-size: 30px;
      padding-top: 10px;
      margin-bottom: 25px;
    }

    & span {

    }
  }

  &Middle {

  }

  &Right {
    width: 210px;

    a {
      display: flex;
      width: 100%;
      color: #000000;
      font-weight: bold;
      font-size: 24px;
      text-decoration: none;

      &:not(:last-of-type) {
        margin-bottom: 22px;
      }
    }
  }
}