footer {
  background-color: #777777;
  display: flex;
  align-items: center;
  height: 200px;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  color: #d8d8d8;
}

.footerLeft {

}

.footerMiddle {
  ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;

    li {
      list-style-type: none;

      &:not(:last-of-type) {
        margin-bottom: 10px;
      }

      a {
        color: #d8d8d8;
      }
    }
  }
}

.footerRight {

  a {
    color: #d8d8d8;
  }
}